/*body>
  <h1>Dupla</h1>
  
  <table class="cards">
    <tr>
      <td>
        <h2>Gabryella Lima</h2>
        <p>Desenvolvedora Frontend</p>
        <p>Email: gaby@email.com</p>
      </td>
      <td>
        <h2>Daniel Amorim</h2>
        <p>Desenvolvedor Frontend</p>
        <p>Email: daniel@email.com</p>
      </td>
    </tr>
  </table>*/

h1{
    text-align: center;
    font-size: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.cards{
    display: grid;
    background-color: aqua;
}
